<div class="gallery-header gallery-header-topical-resources">
  <h1><%=
    # "title || @page_title" doesn't work
    if defined? title
      title
    else
      @page_title
    end %></h1>
</div>

<div class="row">
  <div class="region clearfix">

    <!-- START: Main Column -->
    <div class="row">
      <div class="col-md-12">
        <ol class="topical-resources-breadcrumb hidden-xs" style="margin-top: 0px;">
          <li><a href="/educator_resources">Resources for Educators</a></li>
        </ol>
      </div>
      <div class="col-md-12 gallery-intro">
        <p>Topical Resources are articles that connect modern topics with the historic recordings preserved in the AAPB. Check this page periodically for new articles written by AAPB staff and guest writers that highlight the breadth and depth of the AAPB collection as it relates to current events. If you would like to suggest a topic or volunteer as a guest writer, contact us at <a href="mailto:aapb_notifications@wgbh.org">aapb_notifications@wgbh.org</a>.</p>
      </div>
    </div>
    <% @years.each do |year| %>
      <div class="row">
        <div class="col-md-12 topical-resources-content">
          <h3><%= year %></h3>
          <% @topical_resources.each do |res| %>
            <% if res["year"] == year %>
             <p><a href="<%= res['link'] %>" target="_blank"><%= res['title'] %></a></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>