<div class="gallery-header gallery-header-topical-resources">
  <h1><%=
    # "title || @page_title" doesn't work
    if defined? title
      title
    else
      @page_title
    end %></h1>
</div>

<div class="row">
  <div class="region clearfix">

    <!-- START: Main Column -->
    <div class="row">
      <div class="col-md-12 gallery-intro">
        <p>Links to AAPB blogs:</p>
      </div>
    </div>
    <% @years.each do |year| %>
      <div class="row">
        <div class="col-md-12 topical-resources-content">
          <h3><%= year %></h3>
          <% @topical_resources.each do |res| %>
            <% if res["year"] == year %>
             <p><a href="<%= res['link'] %>" target="_blank"><%= res['title'] %></a></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>